<nav class="navmenu">
    <ul>
        <li><NavLink href="/" Match="NavLinkMatch.All">🏠 Home</NavLink></li>
        <li><NavLink href="/cadastro-cliente">📝 Cadastro Cliente</NavLink></li>
        <li><NavLink href="/lista-clientes">📋 Lista Clientes</NavLink></li>
    </ul>
</nav>
